.vendasPosition{
    position: absolute;
    margin-left: 2%;
    margin-top: 30%;
}

.titleChart{    
    margin-left: 2%;
    width: 149px;
    height: 27px;
    left: 63px;
    top: 232px;

    font-family: Muli;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.3px;

    color: #000000;
}